# Entornos virtuales / dependencias
backend/venv/
backend/__pycache__/
**/__pycache__/
*.pyc

# Variables de entorno locales
backend/.env
.env

# Sistemas operativos / editores
.DS_Store
Thumbs.db
.vscode/
.idea/
